{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fstatic%2Fpsychology-of-money%2Fanxious.jpg?source=ig&width=700"></img>
    <figcaption class="o-typography-caption">&#xA9;&nbsp;FT/Leon Edler</figcaption>
</figure>

You work hard to earn money. However, it is your emotional relationship with cash that could determine how hard your money works for you.

Your own personal psychological relationship with money influences decisions over how to spend, save or invest it. But are you making the right choices? As our personal finances are usually a very private part of our lives, it can be hard to recognise potentially damaging patterns of behaviour.

For example, are you always the person who offers to pay in a restaurant at the end of a meal with friends? Or do you earn a fortune in finance, yet never spend money on new clothes? Perhaps you rate yourself as an investor - but could your frequent trading tip over into a gambling addiction? Or could you be spending beyond your means in order to boost your self esteem?

<h2 class="o-typography-subhead">Taking the FT’s money psychology quiz could provide the insight you need</h2>

Use the sliders to rate how strongly you agree, or disagree, with the following statements, from -3 (strongly disagree) to +3 (strongly agree). Your answers will reveal which of the six common types of financial personality you most closely match up to - and what to do about it.

Designed in consultation with Adrian Furnham, professor of psychology at University College London, the answers could help you reexamine your relationship with your finances.

<div id="react-app"></div>

<div style="display: none">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fstatic%2Fpsychology-of-money%2Fanxious.jpg?source=ig&width=700" />
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fstatic%2Fpsychology-of-money%2Fcash.jpg?source=ig&width=700" />
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fstatic%2Fpsychology-of-money%2Ffitbit.jpg?source=ig&width=700" />
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fstatic%2Fpsychology-of-money%2Fhoarder.jpg?source=ig&width=700" />
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fstatic%2Fpsychology-of-money%2Fostrich.jpg?source=ig&width=700" />
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fstatic%2Fpsychology-of-money%2Fsocial.jpg?source=ig&width=700" />
</div>

{% endmarkdown %}
{% endblock %}
