@import "o-icons/main";

div.input {
  form.range-input {
    margin-top: 56px;
    -webkit-transition: opacity linear 500ms;
    -moz-transition: opacity linear 500ms;
    transition: opacity linear 500ms;
    div.range-container {
      width: 100%;
      div.range-labels {
        box-sizing: border-box;
        width: 5%;
        height: 19px;
        font-size: 16px;
        text-align: center;
        color: #6b6e68;
        -webkit-transition: opacity linear 500ms;
        transition: opacity linear 500ms;
        &-min {
          float: left;
          margin-right: 1%;
        }
        &-max {
          float: right;
          margin-left: 1%;
        }
        &.hidden {
          opacity: 0;
        }
      }
      div.range-slider {
        position: relative;
        display: inline-block;
        width: 88%;
        input[type=range] {
          -webkit-appearance: none;
          width: 100%;
          max-width: 625px;
          max-height: 4px;
          padding-bottom: 3px;
          background-color: transparent;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 28px;
            width: 28px;
            border: 2px solid #fff1e0;
            border-radius: 50%;
            background-color: #27757b;
            cursor: pointer;
            margin-top: -11px;
          }
          &::-webkit-slider-runnable-track {
            // width: 100%;
            height: 4px;
            cursor: pointer;
            background-color: rgba(38,116,122,.15);
            border-radius: 2px;
            -webkit-transition: background linear 500ms;
          }
          &::-moz-range-thumb {
            box-sizing: border-box;
            height: 26px; // Must be smaller than WebKit by width of border (2px)
            width: 26px; // Must be smaller than WebKit by width of border (2px)
            border: 2px solid #fff1e0;
            border-radius: 50%;
            background-color: #27757b;
            cursor: pointer;
          }
          &::-moz-range-track {
            // width: 100%;
            height: 4px;
            cursor: pointer;
            background-color: rgba(38,116,122,.15);
            border-radius: 2px;
            -moz-transition: background linear 500ms;
          }
          &::-ms-thumb {
            height: 28px;
            width: 28px;
            border: none;
            border-radius: 50%;
            background-color: #27757b;
            cursor: pointer;
          }
          &::-ms-track {
            // width: 100%;
            cursor: pointer;
            background-color: transparent;
            border-color: transparent;
            color: transparent;
          }
          &::-ms-fill-upper,
          &::-ms-fill-lower {
            background-color: rgba(38,116,122,.15);
            border-radius: 2px;
            transition: background linear 500ms;
          }
          &:focus {
            outline: none;
          }
          &:disabled {
            opacity: 1;
          }
          &.hidden {
            &::-webkit-slider-runnable-track {
              background-color: rgba(38, 116, 122, 0);
            }
            &::-moz-range-track {
              background-color: rgba(38, 116, 122, 0);
            }
            &::-ms-fill-upper,
            &::-ms-fill-lower {
              background-color: rgba(38,116,122,0);
            }
          }
        }
        output {
          position: absolute;
          display: block;
          top: -48px;
          left: 0;
          z-index: 1;
          box-sizing: border-box;
          width: 40px;
          border: 2px solid #74736c;
          border-radius: 5px;
          padding: 5px;
          background-color: #fff;
          text-align: center;
          font-weight: 700;
          -webkit-transition: opacity linear 500ms;
          -moz-transition: opacity linear 500ms;
          transition: opacity linear 500ms;
          &.hidden {
            opacity: 0;
          }
        }
        output:before {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -14px;
          border-top: 14px solid #74736c;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;

        }
        output:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          margin: -1px 0 0 -12px;
          border-top: 12px solid #fff;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
        }
      }
    }
    div.sub-labels-container {
      width: 100%;
      margin-top: 10px;
      div.sub-labels {
        display: inline-block;
        font-size: 16px;
        color: #6b6e68;
        &-l {
          width: 28%;
          float: left;
          margin-left: 5%;
          i.icon-arrow-left {
            @include oIconsGetIcon('arrow-left', #6b6e68, 17);
            display: table-cell;
          }
          span {
            display: table-cell;
          }
        }
        &-c {
          width: 34%;
          float: none;
          text-align: center;
        }
        &-r {
          max-width: 28%;
          float: right;
          margin-right: 5%;
          text-align: right;
          i.icon-arrow-right {
            @include oIconsGetIcon('arrow-right', #6b6e68, 17);
            display: table-cell;
          }
          span {
            display: table-cell;
          }
        }
      }
    }
    input[type=submit] {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 100%;
      max-width: 315px;
      margin: 38px 0 0;
      -webkit-transition: opacity linear 500ms;
      transition: opacity linear 500ms;
    }
  }
  div.spacer {
    height: 40px;
  }
}
